<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>

  <body>
    <div class="grid-container">
      
      <header class="grid-x grid-padding-x grid-padding-y menu">
        <div class="large-4 cell">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            
            {{#if logged_in}}
            <li><a href="#">Logout</a></li>
            {{else}}
            <li><a href="#">Login</a></li>
            {{/if}}

          </ul>
          <div class="callout calloutbox">
            <h3>The Tech Blog</h3>
          </div>
        </div>
      </header>

      <main class="grid-y">
        <!-- Render the sub layout -->
        {{{ body }}}
      </main>
    
    </div>
    
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  
  </body>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</html>