{{#each posts as |post| }}

<a href="#" class="card-divider grid-x button button-shape secondary dashboard-post">
  <div class="medium-6 text-left">{{post.title}}</div>
  <div class="medium-6 text-right">{{format_date post.date_created}}</div>
</a>







{{/each}}



<script src="./js/dashboard.js"></script>