<div id="login-box" class="">
  <div class="card margin-y">
    <div class="card-divider grid-x">
      <div class="small-12">Login</div>
    </div>
    <div class="card-section cell">
      <div class="grid-x">

        <label class="large-12 cell">
          Email
          <input type="text" id="email-login">
        </label>

        Password
        <label class="large-12 cell">
          <input type="password" id="password-login">
        </label>

        <br>
        <div class="expanded button-group">
          <button type="submit" class="secondary button button-shape" id="login-btn">Login!</button>
        </div>

      </div>
      <a class="login-a" onclick="hideLoginBox()">Sign up instead</a>
    </div>
  </div>
</div>

<div id="signup-box" class="hide">
  <div class="card margin-y">
    <div class="card-divider grid-x">
      <div class="small-12">Signup</div>
    </div>
    <div class="card-section cell">
      <div class="grid-x">

        <label class="large-12 cell">
          Username
          <input type="text" id="name-signup">
        </label>

        <label class="large-12 cell">
          Email
          <input type="text" id="email-signup">
        </label>

        Password
        <label class="large-12 cell">
          <input type="password" id="password-signup">
        </label>

        <br>
        <div class="expanded button-group">
          <button type="submit" class="secondary button button-shape" id="signup-btn">Sign Up!</button>
        </div>

      </div>
      <a class="login-a" onclick="hideSignupBox()">Login instead</a>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>